@use "../variables" as variable;

@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");

.dashboardContainer {
  --child-color: rgba(41, 41, 41, 0.065);
  background-color: variable.$primaryBg;
  padding: 1rem;
  min-height: 100vh;
  min-height: 100dvh;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 10rem 1fr 1fr 15rem;
  grid-template-areas:
    "head head head stats"
    "side main main stats"
    "side main main stats"
    "side main main stats"
    "side main main stats"
    "side bottom bottom bottom";

  min-height: 90dvh;
  margin-top: 0.5rem;

  align-content: center;
}

.topContainer {
  grid-area: head;
  background-color: var(--child-color);
}

.leftContainer {
  grid-area: side;
  background-color: var(--child-color);
}

.mainContainer {
  grid-area: main;
  background-color: var(--child-color);
}

.statsContainer {
  grid-area: stats;
  background-color: var(--child-color);
}

.bottomContainer {
  grid-area: bottom;
  background-color: var(--child-color);
}

//MEDIA QUERIES

@media (width < 600px) {
  .dashboardContainer {
    padding: 0.5rem;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "head"
      "side"
      "stats"
      "main"
      "bottom";
    gap: 0.5rem;
    min-height: 95svh;
  }
}

@media (width < 900px) and (width >= 600px) {
  .grid {
    grid-template-columns: 8rem 1fr 1fr;
    grid-template-areas:
      "head head head"
      "head head head"
      "side main main"
      "side main main"
      "side main main"
      "side main main"
      "side stats stats"
      "bottom bottom bottom";
  }
}
