@use "../variables" as variable;

@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");

/* .dashboardContainer {
  background-color: rgb(239, 208, 251);
  padding: 2rem;
} */

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);

  align-items: stretch;
  justify-items: stretch;

  min-height: 50vh;

  align-content: stretch;
}

.topContainer {
  background-color: rgb(128, 228, 195);
  color: variable.$color-fire;
  font-size: variable.$font-xl;
  text-align: center;
}

.leftContainer {
  background-color: rgb(50, 82, 72);
  color: variable.$color-fire;
  font-size: variable.$font-xl;
  text-align: center;
}

.mainContainer {
  background-color: rgb(18, 94, 69);
  color: variable.$color-fire;
  font-size: variable.$font-xl;
  text-align: center;
}

.statsContainer {
  background-color: rgb(59, 101, 87);
  color: variable.$color-fire;
  font-size: variable.$font-xl;
  text-align: center;
}

.bottomContainer {
  background-color: rgb(1, 83, 59);
  color: variable.$color-fire;
  font-size: variable.$font-xl;
  text-align: center;
}
