@use "../variables" as variable;

@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");

.dashboardContainer {
  background-color: rgb(239, 208, 251);
  padding: 2rem;
}

.grid {
  --column-count: 4;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(var(--column-count), 1fr);
  grid-template-areas:
    "head head head stats"
    "side main main stats"
    "side main main stats"
    "side bottom bottom bottom";

  align-items: stretch;
  justify-items: stretch;

  min-height: 50vh;

  align-content: stretch;
}

.topContainer {
  grid-area: head;
  background-color: rgb(128, 228, 195);
  color: variable.$color-fire;
  font-size: variable.$font-xl;
  text-align: center;
}

.leftContainer {
  grid-area: side;
  background-color: rgb(50, 82, 72);
  color: variable.$color-fire;
  font-size: variable.$font-xl;
  text-align: center;
}

.mainContainer {
  grid-area: main;
  background-color: rgb(18, 94, 69);
  color: variable.$color-fire;
  font-size: variable.$font-xl;
  text-align: center;
}

.statsContainer {
  grid-area: stats;
  background-color: rgb(59, 101, 87);
  color: variable.$color-fire;
  font-size: variable.$font-xl;
  text-align: center;
}

.bottomContainer {
  grid-area: bottom;
  background-color: rgb(1, 83, 59);
  color: variable.$color-fire;
  font-size: variable.$font-xl;
  text-align: center;
}

//MEDIA QUERIES

@media (width < 600px) {
  .dashboardContainer {
    padding: 0.5rem;
  }

  .grid {
    --column-count: 1;
    grid-template-columns: 1fr;
    grid-template-areas:
      "head"
      "side"
      "stats"
      "main"
      "bottom";
  }
}

@media (width < 900px) and (width >= 600px) {
  .grid {
    //--column-count: 3;
    grid-template-columns: 10rem 1fr;
    grid-template-areas:
      "head head"
      "side main"
      "side stats"
      "bottom bottom";
  }
}
