@use "../../variables" as variable;

@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");

.flexContainer {
  background-image: url("/header.test.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid variable.$color-gray-light;
  border-radius: 3px 3px 10px 3px;
  min-height: 83px;
  max-width: 1400px;
}

/* //MEDIA QUERIES
@media screen and (min-width: 50em) {
  .grid {
    grid-template-areas:
      "header header  header header"
      "about_box about_box about_box sidebar"
      "about_box about_box about_box sidebar"
      "stats_box stats_box stats_box stats_box"
      "bottom_box bottom_box bottom_box bottom_box"
      "footer footer footer footer";
  }
  .header {
    min-height: 217px;
  }
}
*/
@media screen and (min-width: 75em) {
  .flexContainer {
    min-height: 216px;
  }
}
