@use "../../variables" as variable;

@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");

/* .flexContainer {
  background-color: rgb(190, 189, 189);
  display: flex;
  padding: 0.5rem;
  gap: 1rem;
}
 */
